{{!-- todos --}}
<a href="./todos/new">Create</a>
<ul>
  {{#each todos}}
  <li>
    {{!-- disable: 只能檢視，不能修改 --}}
    <input type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}} disable>
    {{{this.name}}}
    <a href="./todos/{{ this._id}}">detail</a> {{!-- 找到資料庫中的_id --}}
    <a href="./todos/{{ this._id}}?_method=PUT">edit</a>

    <form action="./todos/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>